@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.mybg {
  background-image: url('./imgs/home.png');
  height: 600px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
