{%extends 'base.html'%}
{% block page_title %}
    {% with "Menu" as page_name %}
        {{ page_name }}
    {% endwith %}
{% endblock %} 
509018/arrow-left-circle.svg
{%block content %}
{% if categories %}
<style>
  .sticky-container {
    position: sticky;
    top: 4rem;
    background-color: white;
  }

  @media (max-width: 640px) {
    #scroll-container {
      justify-content: flex-start;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media (min-width: 640px) {
    #scroll-container {
      justify-content: center;
    }
  }
</style>
<div class="sticky-container z-30">
  <div class="my-10 max-w-screen-sm sm:max-w-screen-2xl mx-auto px-6 mt-28 relative border p-1 overflow-x-auto">
    <div class="grid grid-flow-col items-center justify-center space-x-2">
      <button class="inline-flex sm:hidden items-center justify-center w-8 h-8 text-gray-500 hover:text-gray-700 focus:outline-none bg-white rounded-full shadow" onclick="document.getElementById('scroll-container').scrollLeft -= 100">
        <img class="h-4 w-4" src="https://www.svgrepo.com/show/509018/arrow-left-circle.svg" alt="Left Arrow">
      </button>
      <div class="flex-1 overflow-x-auto" id="scroll-container">
        <div class="flex items-center space-x-6 capitalize">
          <a href="{% url 'menu_view' %}" class="{% if not query_param %} bg-green-400 text-white rounded-xl{% else %} hover:text-green-400 {% endif %} px-3 py-1 cursor-pointer">
            all
          </a>
          {% for category in categories %}
          <a href="{% url 'menu_view' %}?category={{ category.id }}" class="{% if query_param == category.id %} bg-green-400 text-white rounded-xl{% else %} hover:text-green-400 {% endif %} px-3 py-1 cursor-pointer">
            {{ category.category_name }}
          </a> 
          {% endfor %}
        </div>
      </div>
      <button class="sm:hidden inline-flex items-center justify-center w-8 h-8 text-gray-500 hover:text-gray-700 focus:outline-none bg-white rounded-full shadow" onclick="document.getElementById('scroll-container').scrollLeft += 100">
        <img class="h-4 w-4" src="https://www.svgrepo.com/show/509208/right.svg" alt="Right Arrow">
      </button>
    </div>
  </div>
</div>
{% endif %}



{% if item_found %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-12 p-6">
    {% for item in items %}
    {% include "_partials/_card.html" with item=item %}
    {% endfor %}
    </div>
    {%else %}
    
    {% with alert="Sorry, we are not serving anything in the chosen category at the moment" title="sorry" %}
    
    {% include "_partials/_yellow_alert.html" with alert=alert title=title %}
    
    {% endwith %}
    {%endif%}
{% endblock content%}