{%extends 'base.html'%}
{% block page_title %}
    {% with "Menu" as page_name %}
        {{ page_name }}
    {% endwith %}
{% endblock %} 
509018/arrow-left-circle.svg
{%block content %}
{% if categories %}
<div class="my-10 max-w-screen-xl mx-auto px-6 mt-28 relative">
 
        <button class="absolute sm:hidden top-1/3 left-0 text-gray-500 hover:text-gray-700 focus:outline-none bg-white rounded-3xl p-1 shadow" onclick="document.getElementById('scroll-container').scrollLeft -= 100">
            <img class="h-5 w-5" src="https://www.svgrepo.com/show/509018/arrow-left-circle.svg" alt="Left Arrow">
        </button>
        <button class=" absolute sm:hidden top-1/3 right-0  text-gray-500 hover:text-gray-700 focus:outline-none bg-white rounded-3xl p-1 shadow" onclick="document.getElementById('scroll-container').scrollLeft += 100">
            <img class="h-5 w-5" src="https://www.svgrepo.com/show/509208/right.svg" alt="Right Arrow">
        </button>

    <div class="flex items-center justify-center space-x-6 capitalize overflow-x-auto border-b pb-2" id="scroll-container">
        <a href="{% url 'menu_view' %}" class="{% if not query_param %} bg-green-400 text-white rounded-xl{% else %} hover:text-green-400
                    {% endif %} px-3 py-1 cursor-pointer">
            all
        </a>
        {% for category in categories %}
        <a href="{% url 'menu_view' %}?category={{ category.id }}" class="{% if query_param == category.id %} bg-green-400 text-white rounded-xl{% else %} hover:text-green-400
            {% endif %} px-3 py-1 cursor-pointer">
            {{ category.category_name }}
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}





{% if item_found %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-12 p-6">
    {% for item in items %}
    {% include "_partials/_card.html" with item=item %}
    {% endfor %}
    </div>
    {%else %}
    
    {% with alert="Sorry, we are not serving anything in the chosen category at the moment" title="sorry" %}
    
    {% include "_partials/_yellow_alert.html" with alert=alert title=title %}
    
    {% endwith %}
    {%endif%}
{% endblock content%}